<!DOCTYPE html>
<html>
<head>
<title>我的收藏 - {$shop_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="style/base.css?v=ecdaddy" />
</head>
<body>
{include file='head4.html'}
<div style="margin-top: 8px;padding: 10px;background-color: #f2ebe3;border-top: 1px solid #ddd2c0;border-bottom: 1px solid #ddd2c0;box-shadow: inset 0 1px 0 #fff;"> <span class="red">收藏列表</span></div>
<div class="mc radius" style="margin-top:10px;">
	<ul>
		<a href='#'>
		<li style="padding-right:20px;"> 1.
			惠科（HKC） N5 5.3英寸双核智能通话平板<span class="menu-botton-arrow" style="padding-left:5px;"></span> </li>
		</a>
		<li class="last clear">
			<div class="fl p-img"> <img src="http://demo.ecdaddy.com/images/200905/thumb_img/13_thumb_G_1241968002527.jpg" width="50" height="50" /> </div>
			<div class="fl" style="padding:10px 0px 10px 0px"><span >价格：<font color="red">&yen;899.00</font> </span><br/>
				<p><div class="u-btn msg" style="width: 100px;margin: 10px 0 0;">取消收藏</div></p>
			</div>
		</li>
	</ul>
</div>
{include file='foot.html'}
</body>
</html>
