<!DOCTYPE html>
<html>
<head>
<title>{$shop_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="style/base.css?v=ecdaddy" />
<script type="text/javascript">
function setTab(m,n){
	var tli=document.getElementById("menu"+m).getElementsByTagName("li");
	var mli=document.getElementById("main"+m).getElementsByTagName("ul");
	for(i=0;i<tli.length;i++){
		tli[i].className=i==n?"hover":"";
		mli[i].style.display=i==n?"block":"none";
	}
}
</script>
</head>
<body>
{include file='head.html'}
<form name="searchForm" method="get" action="search.php" class="search">
	<input name="keywords" id="keyword" type="text" class="keyword" value="" placeholder="请输入关键词">
	<input type="submit" value="搜索" class="search-button">
</form>
{if $searchkeywords}
<div class="w">热门：{foreach from=$searchkeywords item=val}<a href="search.php?keywords={$val|escape:url}">{$val}</a> {/foreach}</div>
{/if}
<div class="index-ads w">
	<script type="text/javascript">
			var widths=300;
			var heights=80;
			var counts=2;
			img1=new Image();img1.src='/mobile/images/j1.jpg';
			img2=new Image();img2.src='/mobile/images/j2.jpg';
			url1=new Image();url1.src='#';
			url2=new Image();url2.src='#';
			var nn=1;
			var key=0;
			function change_img(){
				if(key==0){
					key=1;
				}else if(document.all) {
				//	document.getElementById("pic").filters[0].Apply();document.getElementById("pic").filters[0].Play(duration=2);
				}

				for (var i=1;i <=counts;i++){
					document.getElementById("xxjdjj"+i).className='axx';
				}
				document.getElementById("xxjdjj"+nn).className='bxx';
				nn++;if(nn>counts){
					nn=1;
				}
				tt=setTimeout('change_img()',4000);
			}
			function changeimg(n){
				nn=n;window.clearInterval(tt);change_img();
			}
			document.write('<style type="text/css">');
			document.write('.axx,.bxx{display:inline-block;width:14px;height:6px;margin:0 4px;overflow: hidden;text-indent: -99px;border: 1px solid #a5a5a5;box-shadow: 0 0 1px #999;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}');
			document.write('a.axx:link,a.axx:visited{background-color:#F5F0E1;}');
			document.write('a.axx:active,a.axx:hover{background-color:#999;}');
			document.write('a.bxx:link,a.bxx:visited{background-color:#B5B5B5;}');
			document.write('a.bxx:active,a.bxx:hover{background-color:#B5B5B5;}');
			document.write('</style>');
			document.write('<div style="width:'+widths+'px;height:115px;overflow:hidden;text-overflow:clip;margin:0px auto;padding-top:20px;text-align: center;">');
			document.write('<div><a id="url"><img id="pic" style="border:0px;box-shadow: -2px 2px 2px #999;" width='+widths+' height='+heights+' /> </a> </div>');
			document.write('<div style="margin-top:6px;">');
			for(var i=1;i <counts+1;i++){
				document.write('<a href="javascript:changeimg('+i+');" id="xxjdjj'+i+'" class="axx" target="_self">'+i+' </a>');
			}
			document.write('</div></div>');
			change_img();
		</script>
</div>
<div class="activities ">
	<div class="container">
		<div class="list">
			<ul style="height:80px;">
				<li class="one-img">
					<div class="app">
						<ul>
							<li>
								<dl>
									<a href="/mobile/category.php">
									<dt><img src="images/catimg/categorys.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>商品分类</dd>
								</dl>
							</li>
							<li>
								<dl>
									<a href="/mobile/goods_list.php?type=new">
									<dt><img src="images/catimg/band.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>潮品</dd>
								</dl>
							</li>
							<li>
								<dl>
									<a href="/mobile/user.php?act=user_center">
									<dt><img src="images/catimg/myhome.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>我的</dd>
								</dl>
							</li>
							<li>
								<dl>
									<a href="/mobile/kefu.php">
									<dt><img src="images/catimg/recharge.png" width="46" height="46" alt=""></dt>
									</a>
									<dd>客户服务</dd>
								</dl>
							</li>
							
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="hot">
	<div class="mt">
		<ul class="menu0" id="menu0">
			<li onClick="setTab(0,0)" class="hover"><span>精品推荐</span></li>
			<li onClick="setTab(0,1)"><span>促销商品</span></li>
			<li onClick="setTab(0,2)"><span>热门商品</span></li>
		</ul>
	</div>
	<div class="main" id="main0">
		<ul class="block">
			<li>
				<div class="mc">
					<div class="t-lists"> {if $best_num > 0}
						{foreach from=$best_goods item=best_data name=goo} <a href="goods.php?id={$best_data.id}">
						<div class="box{if $smarty.foreach.goo.iteration == 1} first{/if}">
							<table cellspacing="0" cellpadding="0" class="tab" width="95%" >
								<tbody>
									<tr>
										<td class="p-img" style="float:none;" width="105px"><img src="../{$best_data.thumb}"  alt=""/></td>
										<td  valign="top" class="text"><div class="p-name" style="color: #3C3C3C;font-size: 0.875em;" >{$best_data.name}<font color="red">{$best_data.goods_brief}</font> </div>
											<div class="p-detail" style="width:180px; float:right"><span style="float:left">价格： <font color="red" style="font-family:Arial;font-weight:bold"> {if $promote_price}{$best_data.promote_price}{else}{$best_data.shop_price}{/if}</font> <span></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						</a> {/foreach} <a href="goods_list.php?type=best">
						<div class="box last">更多</div>
						</a> {/if} </div>
				</div>
			</li>
		</ul>
		<ul>
			<li>
				<div class="mc">
					<div class="t-lists"> {if $promote_num > 0}
						{foreach from=$promote_goods item=promote_data name=goo} <a href="goods.php?id={$promote_data.id}">
						<div class="box{if $smarty.foreach.goo.iteration == 1} first{/if}">
							<table cellspacing="0" cellpadding="0" class="tab" width="95%" >
								<tbody>
									<tr>
										<td class="p-img" style="float:none;" width="105px"><img src="../{$promote_data.thumb}"  alt=""/></td>
										<td  valign="top" class="text"><div class="p-name" style="color: #3C3C3C;font-size: 0.875em;" >{$best_data.name}<font color="red">{$best_data.goods_brief}</font> </div>
											<div class="p-detail" style="width:180px; float:right"><span style="float:left">价格： <font color="red" style="font-family:Arial;font-weight:bold">{$promote_data.shop_price}</font> <span></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						</a> {/foreach} <a href="goods_list.php?type=promote">
						<div class="box last">更多</div>
						</a> {/if} </div>
				</div>
			</li>
		</ul>
		<ul>
			<li>
				<div class="mc">
					<div class="t-lists"> {if $hot_num > 0}
						{foreach from=$hot_goods item=hot_data name=goo} <a href="goods.php?id={$hot_data.id}">
						<div class="box{if $smarty.foreach.goo.iteration == 1} first{/if}">
							<table cellspacing="0" cellpadding="0" class="tab" width="95%" >
								<tbody>
									<tr>
										<td class="p-img" style="float:none;" width="105px"><img src="../{$hot_data.thumb}"  alt=""/></td>
										<td  valign="top" class="text"><div class="p-name" style="color: #3C3C3C;font-size: 0.875em;" >{$best_data.name}<font color="red">{$best_data.goods_brief}</font> </div>
											<div class="p-detail" style="width:180px; float:right"><span style="float:left">价格： <font color="red" style="font-family:Arial;font-weight:bold">{$hot_data.shop_price}</font> <span></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						</a> {/foreach} <a href="goods_list.php?type=hot">
						<div class="box last">更多</div>
						</a> {/if} </div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div id="ecdaddy_news">
	<div class="menu" >
		<h2 class="menu-left clear"><a href='article.php'>站内资讯</a><span class="reduce" id="open-close"></span></h2>
	</div>
	<div class="news-info" id="news">
		<ul>
			{if $article_array}
			{foreach from=$article_array item=article_data} <a href='article.php?act=detail&amp;a_id={$article_data.article_id}'>
			<li class="first">{$article_data.title}<span class="menu-botton-arrow"></span></li>
			</a> {/foreach}
			{/if} <a href='article.php' class="more">
			<li class="last">更多<span class="menu-botton-arrow"></span></li>
			</a>
		</ul>
	</div>
</div>
{include file='foot.html'}
</body>
</html>