<!DOCTYPE html>
<html>
<head>
<title>用户中心 - {$shop_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecdaddy.com">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="style/base.css?v=ecdaddy" />
</head>
<body class="userinfo">
{include file='head4.html'}
<div class="home clear">
	<div class="fl"> <strong>欢迎回来，{$user_name}</strong><br/>
		<span class="level">{$rank_name}</span><br>
		<span class="level">积分：{$user_info.user_points}</span><br>
		<span class="level">余额：{$user_info.user_money}</span><br>
		<a href='javascript:;' class="u-btn msg" style="margin-top:3px;float:left;">站内消息<span class="red">(0)</span></a> <a href="user.php?act=logout" class="u-btn exit" style="float: left;margin-top: 3px;margin-left: 10px;">退出</a> </div>
</div>
<div class="mc">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="2"><img src="/mobile/images/order_icon.png" width="26" height="26"/>订单中心</th>
		</tr>
		<tr>
			<td class="no-bl"><a href='user.php?act=order_list'>我的订单<span class="arrow"></span></a></td>
			<td><a href='javascript:;'> 充值<span class="arrow"></span></a></td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="2"><img src="/mobile/images/cust_icon.png" width="26" height="26"/> 客户服务</th>
		</tr>
		<tr>
			<td class="no-bl"><a href="kefu.php">在线客服 <sup  style="color:red">新</sup><span class="arrow"></span></a></td>
			<td ><a href="kefu.php">售后服务<span class="arrow"></span></a></td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="2"> <img src="/mobile/images/pw_icon.png" width="26" height="26" />推荐产品 <img src="/mobile/images/icons_new.png" width="42" height="19" alt="new" /> </th>
		</tr>
		{foreach from=$best_goods item=best_data}
		<tr>
			<td colspan="2" class="no-bl"  height="45"><a href='goods.php?id={$best_data.id}' style="float:left;width:85%;">{$best_data.name}<font style="color:#F00;">{$best_data.shop_price}</font></a><br/>
			</td>
		</tr>
		{/foreach}
	</table>
	<!--table cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="no-bl"><a href="favorites.php"> <img src="/mobile/images/favorite_icon.png" width="26" height="30">我的关注</a></td>
				<td></td>
			</tr>
		</tbody>
	</table-->
</div>
{include file='foot.html'}
</body>
</html>
